<!--<nav class="navbar navbar-expand-lg navbar-light custom-ng-nav-bar">
    <div class="container d-flex align-items-center justify-content-between">
        <a class="navbar-brand" href="#">
          <img src="../../assets/download.png" alt="Logo" width="300">
          <h2><I>Welcome Doctor</I></h2>
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                
              <!-- You can add nav items here if needed 
            </ul>
         <div class="d-flex align-items-center">
                <span class="nav-link">Welcome, Doctor!</span>
                <button class="btn btn-danger my-2 my-lg-0" (click)="Logout()">Logout</button>
            </div>
        </div>
    </div>
</nav>
-->
<nav class="navbar navbar-expand-lg navbar-light custom-ng-nav-bar">
    <div class="container d-flex align-items-center justify-content-between">
        <a class="navbar-brand" href="#">
            <img src="../../assets/EliteCare.png" alt="Logo" width="100">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <span class="nav-link welcome-message">Welcome, Doctor!</span>
                </li>
                <!-- Add additional nav items here if needed -->
            </ul>
        </div>
    </div>
</nav>
