/* You can add global styles to this file, and also import other style files */
.validation-error{
    color:red;
}
.custom-ng-nav-bar{
       background-color: #008080; /* Teal */
    color: #FFFFFF; /* White text for better contrast */
   // background-color: rgb(127, 230, 242);
}